body{
  background-color: rgb(255, 255, 255);
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto';
  /* ,'Arial'; */

}

body *{
  transition: all 0.5s ease-in-out;
}

main{
  margin-top: 120px;
  padding-bottom: 120px;
}

.toggler {
  padding: 12px;
  background-color:rgb(255, 253, 108);
}

header{
  height: 500px;
  position: relative;
  z-index: -1;
  background-color: rgb(247, 255, 96);
  background: url(https://images.unsplash.com/photo-1485431142439-206ba3a9383e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1561&q=80) center;
  background-size: 100%;
  margin-top: -50px;
  /* top: -125px; */
}


header h1{
  padding-top: 170px;
  font-size: 50px;
  margin-left: 200px;
  line-height: 70px;
}


.sidenav{
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 99; /* NOTE: Es una relación pra el z  lo más arriba posible*/
  top: 0px;
  left: 0px ;
  background: rgb(233, 242, 122);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav h2{
  color: white;
}

.sidenav a{
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover{
  color: black;
  font-size: 35px;
}

.sidenav ul li{
  text-decoration: none;
}

.sidenav .closebtn{
  position: absolute;
  top: 0px;
  right: 25px;
  font-size: 36px;

}

#openNav{
  border: 1px solid rgb(0, 0, 0);
  padding: 10px;
  border-radius: 4px;
  color: rgb(184, 178, 71);
  font-weight: bold;
  background: rgb(255, 255, 255);
  cursor: pointer;
}

form{
  display: flex;
  flex-direction: column;
  padding: 40px;
  max-width: 300px;
}

input{
  margin: 20px;
  margin-left: 30px;
  margin-right: 50%;
  max-height: 30px;
  justify-content: center;
}

#posts{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.post{
  width: 100%;
  max-width: 400px;
  margin: 10px;
  /* height: 300px; */
}

.post > div{
  display: block;
  /* height: 100%; */
  height: 400px;
  /* width: 300px; */
  background-size: 150%;
}

.post > div:hover{
  background-size: 100%;
}
